<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule "^home$" view/index.php [QSA,L]
    RewriteRule "^carrinho$" view/shop/carrinho.php [QSA,L]
    RewriteRule "^produto$" view/shop/produto.php [QSA,L]
    RewriteRule "^pagamento$" view/shop/pagamento.php [QSA,L]
    RewriteRule "^cadastro-cliente$" view/cadastro/cliente.php [QSA,L]
    RewriteRule "^cadastro-produto$" view/cadastro/produto.php [QSA,L]
    RewriteRule "^error$" view/errors/404.php [QSA,L]
    RewriteRule "^produto-service$" services/ItemService.php [QSA,L]
</IfModule>