<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule "^home$" view/index.php [QSA,L]
    
    RewriteRule "^produto-id-.*" view/item/item-view.php [QSA,L]
    RewriteRule "^cliente.id-.*" view/customer/customer-view.php [QSA,L]
    
    RewriteRule "^clientes$" view/customer/customer-list.php [QSA,L]
    RewriteRule "^cadastro-cliente$" view/customer/customer-form.php [QSA,L]
    RewriteRule "^editar-cliente" view/customer/customer-form-update.php?$1=$2 [QSA,L]
    
    RewriteRule "^produtos$" view/item/item-list.php [QSA,L]
    RewriteRule "^cadastro-produto$" view/item/item-form.php [QSA,L]
    RewriteRule "^editar-produto" view/item/item-form-update.php?$1=$2 [QSA,L]
    
    RewriteRule "^pedidos$" view/order/order-list.php [QSA,L]
    RewriteRule "^detalhe-pedido$" view/order/order-detail.php [QSA,L]
    
    RewriteRule "^carrinho$" view/shop/cart.php [QSA,L]
    RewriteRule "^pagamento$" view/shop/checkout.php [QSA,L]
    
    RewriteRule "^error$" view/errors/404.php [QSA,L]
    
    RewriteRule "^service/clienteSave$" services/CustomerSave.php [QSA,L]
    RewriteRule "^service/clienteUpdate$" services/CustomerUpdate.php [QSA,L]
    RewriteRule "^service/clienteDelete" services/CustomerDelete.php?$1=$2 [QSA,L]
    
    RewriteRule "^service/produtoService$" services/ItemService.php [QSA,L]
    RewriteRule "^service/produtoUpdate$" services/ItemUpdate.php [QSA,L]
    RewriteRule "^service/produtoDelete" services/ItemDelete.php?$1=$2 [QSA,L]
    
    </IfModule>